<div>
    <span>Name does not contain: </span>
    <input type="text" placeholder="1455.*0(4|5)th" id="blah">

    <hr>
    <div><em>Advanced Filters:</em></div>

    <span>Name include (</span>
    <a href="https://regex101.com/" target="_blank">regex</a>
    <span>): </span>
    <input type="text" placeholder="1455.*0(4|5)th" id="room-booking-filter-positive-regex">

    <br>

    <span>Name exclude (</span>
    <a href="https://regex101.com/" target="_blank">regex</a>
    <span>): </span>
    <input type="text" placeholder="(Cart|Quiet Room)" id="room-booking-filter-negative-regex">
</div>
