<!DOCTYPE html>
<html>
<head>
    <title>gmate room radar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="room-radar-results">
    <!--to be injected dynamically via code-->
</div>

<!--make sure to load the common and settings script first-->
<script src="../script/shared/common.js"></script>
<script src="../script/shared/storage.js"></script>
<script src="../script/shared/auth.js"></script>
<script src="../script/shared/room.js"></script>
<script src="../script/settings/room-filters.js"></script>
<script src="../script/shared/ui/index.js"></script>
<script src="../script/shared/ui/modal.js"></script>
<script src="../script/shared/ui/icon.js"></script>
<script src="../script/shared/ui/button.js"></script>
<script src="../script/shared/ui/room-booking-filters.js"></script>
</body>
</html>