<!DOCTYPE html>
<html>
<head>
    <title>GMate Room Radar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h3>Your Event:</h3>
<div>Name: <span id="owner-event-name"></span></div>
<div>Start: <span id="owner-event-start"></span></div>
<div>End: <span id="owner-event-end"></span></div>

<h3>You might want to reach out to the following room owners for a transfer/swap:</h3>

<h1 id="loading">Loading...</h1>

<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;">
            <h4>Full Match</h4>
            <div id="underutilized-rooms-full-match">
                <!--to be injected dynamically via code-->
            </div>
        </div>
        <div style="display: table-cell;">
            <h4>Partial Match</h4>
            <div id="underutilized-rooms-partial-match">
                <!--to be injected dynamically via code-->
            </div>
        </div>
    </div>
</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5-vU37dLioP0d7Myz1X9YRYKq-Fny9N4CLd-9g4hPZJL6WA/viewform?embedded=true" width="640" height="585" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</body>
</html>